@model MasterScripter.DAL.Models.Execution

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Execution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Machine.IP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine.IP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason.ReasonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason.ReasonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SrartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SrartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
